body {
	font-family : 'Arimo', sans-serif;
}

.container {
	max-width : 800px;
}

.header {
	margin-top : 6rem;
	text-align : center;
}

.navbar {
	display : none;
}

#headshot {
	border-radius    : 50%;
	border           : 10px solid #2c3e50;
	width            : 15rem;
	height           : 15rem;
	background-color : #ffffff;
}

.fa-styled {
	font-family : 'Arimo', fontAwesome, sans-serif;
}

.docs-section {
	border-top    : 1px solid #eeeeee;
	padding       : 4rem 0;
	margin-bottom : 0;
}

.project-span#django_order {
	background            : url('../img/icons/box.png') no-repeat;
	display               : inline-block;
	background-position-y : 50%;
	background-size       : 40px 40px;
	height                : 40px;
	padding-left          : 50px;
}

.project-span#rapidsms_locator {
	background            : url('../img/icons/phone.png') no-repeat;
	display               : inline-block;
	background-position-y : 50%;
	background-size       : 18px 40px;
	background-position-x : 7%;
	height                : 40px;
	padding-left          : 50px;
}

.project-span#thesis {
	background            : url('../img/icons/paper.png') no-repeat;
	display               : inline-block;
	background-position-y : 50%;
	background-size       : 40px 40px;
	height                : 70px;
	padding-left          : 50px;
}

.project-span a {
	height         : 40px;
	display        : table-cell;
	vertical-align : middle;
}

.project-span#thesis a {
	height : 70px;
}

.chart div {
	font             : 14px 'Arimo', sans-serif;
	background-color : steelblue;
	text-align       : right;
	padding          : 0.35rem 1rem;
	margin           : 2px;
	color            : white;
}

.mail-alert {
	background     : #eeeeee;
	text-align     : center;
	border-radius  : 4px;
	height         : 35px;
	line-height    : 35px;
	margin-bottom  : 1rem;
	width          : 80%;
	margin-left    : auto;
	margin-right   : auto;
}

/* Larger than phone */
@media (min-width : 550px) {
	.header {
		margin-top : 18rem;
	}

	.value-props {
		margin-top    : 9rem;
		margin-bottom : 7rem;
	}

	.value-img {
		margin-bottom : 1rem;
	}

	.example-grid .column,
	.example-grid .columns {
		margin-bottom : 1.5rem;
	}

	.docs-section {
		padding : 6rem 0;
	}

	.example-send-yourself-copy {
		float      : right;
		margin-top : 12px
	}

	#headshot {
		width  : 10rem;
		height : 10rem;
	}
}

/* Larger than tablet */
@media (min-width : 750px) {
	/* Navbar */
	.navbar {
		border-top-width : 0;
	}

	.navbar,
	.navbar-spacer {
		display       : block;
		width         : 100%;
		height        : 6.5rem;
		background    : #ffffff;
		z-index       : 99;
		border-top    : 1px solid #eeeeee;
		border-bottom : 1px solid #eeeeee;
		margin-bottom : 2rem;
	}

	.navbar-spacer {
		display : none;
	}

	.navbar > .container {
		width : 100%;
	}

	.navbar-list {
		list-style    : none;
		margin-bottom : 0;
	}

	.navbar-item {
		position      : relative;
		float         : left;
		margin-bottom : 0;
	}

	.navbar-link {
		text-transform  : uppercase;
		font-size       : 11px;
		font-weight     : 600;
		letter-spacing  : .2rem;
		margin-right    : 35px;
		text-decoration : none;
		line-height     : 6.5rem;
		color           : #222222;
	}

	.navbar-link.active {
		color : #33c3f0;
	}

	.has-docked-nav .navbar {
		position : fixed;
		top      : 0;
		left     : 0;
	}

	.has-docked-nav .navbar-spacer {
		display : block;
	}

	.has-docked-nav .navbar > .container {
		width : 80%;
	}

	/* Popover */
	.popover.open {
		display : block;
	}

	.popover {
		display        : none;
		position       : absolute;
		top            : 0;
		left           : 0;
		background     : #ffffff;
		border         : 1px solid #eeeeee;
		border-radius  : 3px;
		top            : 92%;
		left           : -50%;
		-webkit-filter : drop-shadow(0 0 6px rgba(0, 0, 0, .1));
		-moz-filter    : drop-shadow(0 0 6px rgba(0, 0, 0, .1));
		filter         : drop-shadow(0 0 6px rgba(0, 0, 0, .1));
	}

	.popover-item:first-child .popover-link:after,
	.popover-item:first-child .popover-link:before {
		bottom         : 100%;
		left           : 50%;
		border         : solid transparent;
		content        : " ";
		height         : 0;
		width          : 0;
		position       : absolute;
		pointer-events : none;
	}

	.popover-item:first-child .popover-link:after {
		border-color        : rgba(255, 255, 255, 0);
		border-bottom-color : #ffffff;
		border-width        : 10px;
		margin-left         : -10px;
	}

	.popover-item:first-child .popover-link:before {
		border-color        : rgba(238, 238, 238, 0);
		border-bottom-color : #eeeeee;
		border-width        : 11px;
		margin-left         : -11px;
	}

	.popover-list {
		padding    : 0;
		margin     : 0;
		list-style : none;
	}

	.popover-item {
		padding : 0;
		margin  : 0;
	}

	.popover-link {
		position        : relative;
		color           : #222222;
		display         : block;
		padding         : 8px 20px;
		border-bottom   : 1px solid #eeeeee;
		text-decoration : none;
		text-transform  : uppercase;
		font-size       : 1.0rem;
		font-weight     : 600;
		text-align      : center;
		letter-spacing  : .1rem;
	}

	.popover-item:first-child .popover-link {
		border-radius : 4px 4px 0 0;
	}

	.popover-item:last-child .popover-link {
		border-radius       : 0 0 4px 4px;
		border-bottom-width : 0;
	}

	.popover-link:hover {
		color      : #ffffff;
		background : #33c3f0;
	}

	.popover-link:hover,
	.popover-item:first-child .popover-link:hover:after {
		border-bottom-color : #33c3f0;
	}

	#headshot {
		width  : 20rem;
		height : 20rem;
	}
}